<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.NetFlop"
        tools:targetApi="31">
        <activity
            android:name=".ui.favourite.AllFavouriteMovieActivity"
            android:exported="false" />
        <activity
            android:name=".ui.favourite.AllFavouriteMediaActivity"
            android:exported="false" />
        <activity
            android:name=".ui.favourite.AllFavouriteEpisodeActivity"
            android:exported="false"/>
        <activity
            android:name=".ui.favourite.AllFavouriteTVSeasonActivity"
            android:exported="false" />
        <activity
            android:name=".ui.favourite.AllFavouriteTVSeriesActivity"
            android:exported="false"/>
        <activity
            android:name=".ui.favourite.AllFavouritePeopleActivity"
            android:exported="false"/>
        <activity
            android:name=".ui.movie_detail.AllReviewActivity"
            android:exported="false"
            android:theme="@style/Theme.AppCompat.DayNight.NoActionBar" />
        <activity
            android:name=".ui.TV_Detail.TVEpisodeDetailActivity"
            android:exported="false"
            android:theme="@style/Theme.AppCompat.DayNight.NoActionBar" />
        <activity
            android:name=".ui.TV_Detail.TVSeasonDetailActivity"
            android:exported="false"
            android:theme="@style/Theme.AppCompat.DayNight.NoActionBar" />
        <activity
            android:name=".ui.TV_Detail.TVSeriesDetailActivity"
            android:exported="false"
            android:theme="@style/Theme.AppCompat.DayNight.NoActionBar" />
        <activity
            android:name=".ui.home.AllTopRatedTVActivity"
            android:exported="false" />
        <activity
            android:name=".ui.home.AllPopularTVActivity"
            android:exported="false" />
        <activity
            android:name=".ui.home.AllPopularPeopleActivity"
            android:exported="false" />
        <activity
            android:name=".ui.search.FilterActivity"
            android:exported="false"
            android:theme="@style/Theme.AppCompat.DayNight.NoActionBar" />
        <activity
            android:name=".ui.home.AllPlayingNowActivity"
            android:exported="false" />
        <activity
            android:name=".ui.home.AllUpcomingActivity"
            android:exported="false" />
        <activity
            android:name=".ui.home.AllTopRatedMovieActivity"
            android:exported="false" />
        <activity
            android:name=".ui.home.AllTrendingPeopleActivity"
            android:exported="false" />
        <activity
            android:name=".ui.home.AllPopularMovieActivity"
            android:exported="false" />
        <activity
            android:name=".ui.home.AllTrendingMovieActivity"
            android:exported="false" />
        <activity
            android:name=".ui.person_detail.PersonDetailActivity"
            android:exported="false"
            android:theme="@style/Theme.AppCompat.DayNight.NoActionBar" />
        <activity
            android:name=".ui.movie_detail.YoutubePlayerActivity"
            android:exported="false"
            android:theme="@style/Theme.AppCompat.DayNight.NoActionBar" />
        <activity
            android:name=".ui.movie_detail.AllTrailersActivity"
            android:exported="false"
            android:theme="@style/Theme.AppCompat.DayNight.NoActionBar" />
        <activity
            android:name=".ui.movie_detail.MovieDetailActivity"
            android:exported="false"
            android:theme="@style/Theme.AppCompat.DayNight.NoActionBar" />
        <activity
            android:name=".MainActivity"
            android:exported="true"
            android:label="@string/app_name">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>